@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

header{
    background-color: #1f2937;
    width: 100%;
    padding: 2rem 5rem;
}

.logo > a{
    color: #F9FAF8;
    font-weight: 700;
    font-size: 1.5rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

li, a{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 1.125rem;
    margin: 0.4rem;
}

.title{
    font-size: 3rem;
    font-weight: bolder;
    color: #F9FAF8;
}

.description{
    font-size: 1.125rem;
    color: #E5E7EB;
}

.button{
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 1rem 5rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.hero{
    display: flex;
    margin-top: 3rem;
}

.hero > *{
    flex-basis: 100%;
}

img{
    border-radius: 1rem;
}

.button:hover{
    background-color: #214f98;
}