@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

*{
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

header{
    background-color: #1f2937;
    width: 100%;
    padding: 3rem 8rem;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.logo > a{
    color: #F9FAF8;
    font-weight: 700;
    font-size: 1.5rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

li, a{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 1.125rem;
    margin: 0.4rem;
}

.title{
    font-size: 3rem;
    font-weight: 900;
    color: #F9FAF8;
}

.description{
    font-size: 1.125rem;
    color: #E5E7EB;
}

.button{
    background-color: #3882F6;
    color: #F9FAF8;
    align-self: flex-start;
    padding: 1rem 5rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.hero{
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 3rem;
    gap: 3rem;
}

.hero > *{
    flex-basis: 100%;
}

img{
    border-radius: 1rem;
}

.info-section{
    margin: 3rem 8rem;
}

.info-section-header{
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 3rem;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.wrapper > * {
    flex: 1;
}

.quote-section{
    background-color: #E5E7EB;
    font-size: 2rem;
    font-style: italic;
    padding: 5rem 8rem;
    margin-top: 3rem;
    color: #1f2937;
}

.quote>p{
    text-align: right;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: bold;
}

.quote{
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.signup-section{
    margin: 5rem 0rem;
    padding: 0rem 8rem;
}

.card{
    width: 100%;
    background-color: #3882F6;
    color:#F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding: 2rem;
    font-size: 1.25rem;
}

.button.action{
    border: 1px solid #F9FAF8;
    font-size: 1.125rem;
    padding: 1rem 2rem;

}

footer{
    background-color: #1f2937;
    color: #E5E7EB;
    text-align: center;
    padding: 1.5rem;
}

.button:hover{
    background-color: #214f98;
}

li, a:hover{
    color: #3882F6;
}